[Desktop Entry]
Encoding=UTF-8
Name=Veles
Comment=Veles P2P Cryptocurrency
Comment[fr]=Veles, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Veles, eşten eşe kriptografik sanal para birimi
Exec=veles-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/veles;
Categories=Office;Finance;
